<div class="highlighting-note">
</div>
<div class="note-inner">
    <div class="labels">
        <div class="label">
            <p>Hello Hello Hello Hello Hello </p>
        </div>
        <div class="label">
            <p>Hello Hello Hello Hello Hello </p>
        </div>
    </div>
    <div class="header">
        <h4>Hello world Hello world Hello world Hello world Hello world Hello world</h4>
    </div>
    <div class="description">
        <p>{{note.description}}</p>
    </div>
    <div class="photos">
        <div class="photo">
            <img alt="note image" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/12A9B/production/_111434467_gettyimages-1143489763.jpg">
        </div>
        <div class="photo">
            <img alt="note image" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/12A9B/production/_111434467_gettyimages-1143489763.jpg">
        </div>
    </div>
    <div class="footer">
        <div class="date">
            <p>02.09.1945</p>
        </div>
    </div>
</div>